################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Z001/.vs/Z001/v17
/Z001/x64/Debug
/Z001/Z001/x64/Debug
/Z002/.vs/Z002
/Z002/x64/Debug
/Z002/Z002/x64/Debug
/Z003/.vs/Z003
/Z003/x64/Debug
/Z003/Z003/x64/Debug
/Z004/.vs/Z004
/Z004/x64/Debug
/Z004/Z004/x64/Debug
